<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/vue@next"></script>
    <script async src="/app.js"></script>
  </head>
  <body id="repotime">
    <header>
      <span>Welcome to repotime{{username == "" ? "." : " "+username+"."}}</span>
      <span v-if="reposAvailable"> Choose a repository:</span>
      <select v-if="reposAvailable" v-model="selectedRepo" v-on:change="onRepoSelected">
        <option
          v-for="repo in repos"
          >{{repo.full_name}}</option>
      </select>

    </header>
  </body>
</html>
